.icon {
  width: 240px;
  vertical-align: middle;
  border: 1px solid salmon;
}

button {
  display: block;
  margin: 0 auto;
  font-size: 60px;
  padding: 12px 24px;
  width: 80%;
  max-width: 100px;
  background-color: rgb(139, 96, 14);
  color: white;
  border: none;
  border-radius: 8px;
}
button:active {
  background-color: black;
  color: white;
}

div {
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}

/* button#cook {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  padding: 12px 24px;
  width: 80%;
  max-width: 10px;
  background-color: rgb(14, 22, 139);
  color: white;
  border: none;
  border-radius: 8px;
} */
